# Build artifacts
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options
.vs/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Test results
TestResults/
